<table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <!-- <th scope="col">Image</th> -->
      <th scope="col">Title</th>
      <th scope="col">Quantity</th>
      <th scope="col">Sale</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>10000</td>
      <td>Image</td>
      <td>Chatluong</td>
      <td>10</td>
      <td>10%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>10000</td>
      <td>Image</td>
      <td>Chatluong</td>
      <td>10</td>
      <td>10%</td>
    </tr>
    <tr>
      <td>Mark</td>
      <td>10000</td>
      <td>Image</td>
      <td>Chatluong</td>
      <td>10</td>
      <td>10%</td>
    </tr>
  </tbody>
</table>